.image-grid {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
   
  }
  
  .image-item {
    width: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .image-item img {
    width: 100%;
    height: auto;
    display: block;
    object-fit: cover;
  }
  
  @media (max-width: 768px) {
    .image-grid {
      grid-template-columns: repeat(3, 1fr);
    }
  }
  
  @media (max-width: 576px) {
    .image-grid {
      grid-template-columns: repeat(2, 1fr);
    }
  }